<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/style2.css">
        <title>HTML5</title>

		<p class="oups">
			{% if prenom == '' %}
				Oups! veuillez écrire un prénom.<br>
			{% endif %}
			{% if nom == '' %}
				Oups! veuillez écrire un nom.<br>
			{% endif %}
			{% if date == '' %}
				Oups! veuillez sélectionner une date.<br>
			{% endif %}
		</p>

		{% if prenom != '' and nom != '' and date != '' %}
			{% set tab_moisjour = date|split('-') %}
			{% set moisjour = [tab_moisjour[1], tab_moisjour[2]]|join %}
			{% set signe = "" %} 
			{% if moisjour >= '0321' and moisjour <= '0420' %}
				{% set signe = "Bélier" %}
			{% elseif moisjour >= '0421' and moisjour <= '0520' %}
				{% set signe = "Tauraux" %}
			{% elseif moisjour >= '0521' and moisjour <= '0621' %}
				{% set signe = "Gémaux" %}
			{% elseif moisjour >= '0622' and moisjour <= '0722' %}
				{% set signe = "Cancer" %}
			{% elseif moisjour >= '0723' and moisjour <= '0822' %}
				{% set signe = "Lion" %}
			{% elseif moisjour >= '0823' and moisjour <= '0922' %}
				{% set signe = "Vierge" %}
			{% elseif moisjour >= '0923' and moisjour <= '1022' %}
				{% set signe = "Balance" %}
			{% elseif moisjour >= '1023' and moisjour <= '1122' %}
				{% set signe = "Scorpion" %}
			{% elseif moisjour >= '1123' and moisjour <= '1221' %}
				{% set signe = "Sagitaire" %}
			{% elseif (moisjour >= '1222' and moisjour <= '1231') or (moisjour >= '0101' and moisjour <= '0120') %}
				{% set signe = "Capricorne" %}
			{% elseif moisjour >= '0121' and moisjour <= '0218' %}
				{% set signe = "Verseau" %}
			{% elseif moisjour >= '0219' and moisjour <= '0320' %}
				{% set signe = "Poisson" %}
			{% else %}
				{% set signe = "Erreur" %} 
			{% endif %}
			
			{% set description = '' %}
			{% set image = '' %}
			{% if signe in "Bélier" %}
				{% set description = "La vie vous apportera malheur: un bélier foncera sur vous comme une voiture à 100km/h fonce dans un mur." %}
				{% set image = "https://cdn.radiofrance.fr/s3/cruiser-production/2018/03/29fa4466-483c-4be8-b761-e1d084c6c195/870x489_gettyimages-686331982_2.jpg" %}
			{% elseif signe in "Tauraux" %}
				{% set description = "La vie vous apportera malheur: un taureau foncera sur vous comme une voiture à 100km/h fonce dans un mur." %}
				{% set image = "https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2018/10/08/node_464640/39779073/public/2018/10/08/B9717179125Z.1_20181008080815_000%2BGJ9C6DCHU.2-0.jpg?itok=SlowXxnl" %}
			{% elseif signe in "Gémaux" %}
				{% set description = "Vous n'avez pas gagné de Prix Gémeaux. Vous êtes simplement de signe Gemeaux. D'ailleurs, vous n'en gagnerez jamais." %}
				{% set image = "https://academie.ca/dist/img/prixgemeaux/logo-footer.png" %}
			{% elseif signe in "Cancer" %}
				{% set description = "Vous mourrez du cancer. Si on se fie à la tendance du 21e siècle, en effet." %}
				{% set image = "https://www.info-radiologie.ch/metastase-cerebral-poumon/fullsize/metastase-cerebral-_1_fs.jpg" %}
			{% elseif signe in "Lion" %}
				{% set description = "Vous avez aimé le film Le Roi Lion? Eh bien vous finirez comme Mufassa: Mort d'une chute, poussé par un membre de votre famille." %}
				{% set image = "http://cdn.24.co.za/files/Cms/General/d/5470/79958d58e26a45fa8bfb87e6ed155e18.jpg" %}
			{% elseif signe in "Vierge" %}
				{% set description = "La virginité, c'est la pureté. La vie vous demande de procréer pour populer la Terre. La vie vous réserve un avenir impur." %}
				{% set image = "https://www.viergemiraculeuse.com/wp-content/uploads/2014/03/72cdb965.jpg" %}
			{% elseif signe in "Balance" %}
				{% set description = "Vous vous balancerez doucement dans une balançoire. Mais tout le monde s'en balance." %}
				{% set image = "https://www.point2vente.com/1165-thickbox_default/balance-kern-fob-balance-poids-prix.jpg" %}
			{% elseif signe in "Scorpion" %}
				{% set description = "Vous irez bientôt visiter un pays chaud. Un scorpion vous piquera et vous tuera." %}
				{% set image = "https://frontiersinblog.files.wordpress.com/2019/06/frontiers-in-ecology-and-evolution-scorpion-venom.jpg" %}
			{% elseif signe in "Sagitaire" %}
				{% set description = "Les gens de signe Sagitaire: S'agit-il de se taire?" %}
				{% set image = "https://terreurterreur.files.wordpress.com/2014/02/centaure.jpg" %}
			{% elseif signe in "Capricorne" %}
				{% set description = "Les gens de signe Capricorne sont de grands copieurs: Un capricorne ressemble a un belier, mais ce signe existe deja! Vous manquez cruellement d'originalité." %}
				{% set image = "https://cdn.pixabay.com/photo/2017/08/20/12/06/capricorn-2661507_960_720.jpg" %}
			{% elseif signe in "Verseau" %}
				{% set description = "Vous êtes un grand gaspilleur: les gens de signe Verseau sont ceux qui versent de l'eau sur la neige pour la faire fondre ou qui arrosent leur asphalte: Mort à vous." %}
				{% set image = "https://udesdurable.files.wordpress.com/2013/04/logo-recto-verso.png" %}
			{% elseif signe in "Poisson" %}
				{% set description = "Les gens de signe Poisson ne s'attendent à nul autre que de pêcher du poisson lorsqu'ils vont à la pêche." %}
				{% set image = "https://mediasv6.truffaut.com/Articles/jpg/0048000/48412_001_350.jpg" %}
			{% else %}
				{% set description = "Erreur" %}
				{% set image = "https://i.pinimg.com/originals/f8/45/76/f8457627650bb706f11bc97f9c931e56.jpg" %}
			{% endif %}
		{% endif %}
    </head>
	<body class="body2">
		{% if prenom != '' and nom != '' and date != '' %}
			<table class="table2">
				<tr>
					<td><p class="gros_texte">
						Bonjour {{prenom}} {{nom}}. Votre signe astrologique est: {{signe}}</p>
					</td>
				</tr>
				<tr>
					<td><p class="gros_texte">
						Votre avenir:</p>
					</td>
				</tr>
				<tr>
					<td><p class="petit_texte">
						{{description}}</p>
					</td>
				</tr>
			</table>
			<br>
			<img src="{{image}}" alt="image ici">
		{% endif %}


	</body>
</html}